<!-- TODO: ViewChild? -->
<app-input (submitted)="createTopic($event)"></app-input>

<div *ngIf="topics$ | requestTracker | async as request">
  <ng-template [ngIf]="request.loading">
    <div class="spinner">
      <i class="fas fa-atom fa-spin fa-4x"></i>
    </div>
  </ng-template>

  <ng-template [ngIf]="request.error">
    <div>ERROR! {{request.error.message}}</div>
  </ng-template>

  <ng-template [ngIf]="request.value">
    <div class="card">
      <ul class="list-group list-group-flush">
        <li *ngFor="let topic of request.value" class="list-group-item">
          <a routerLink="/topics/{{topic.key}}">{{topic.title}}</a>
        </li>
      </ul>
    </div>
  </ng-template>
</div>
