.form-container {
  height: 50px;
  background-color: #7f7f7f;
  display: grid;
  align-items: center;
}

.form-controls {
  display: flex;
}

.input-field {
  width: 100%;
  border-radius: 50px;
  padding: 0 10px 0 10px;

  &:focus {
    outline: none;
  }
}

.submit-button {
}
