<head>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
</head>

<header>
  <h1>
    {{title}}
  </h1>
  <nav>
    <ul class="nav-bar">
      <li class="nav-element"><a class="active" routerLink="/deadlines">Deadlines</a></li>
      <li class="nav-element"><a routerLink="/deadlines">Deadlines</a></li>
      <li class="nav-element"><a routerLink="/deadlines">Deadlines</a></li>
      <li class="nav-element"><a routerLink="/deadlines">Deadlines</a></li>
    </ul>
  </nav>
</header>

<router-outlet></router-outlet>

<footer>
  <hr>
  2020
</footer>
