<div *ngIf="loadTopicRequest.error" class="alert alert-danger" role="alert">
  <strong>Error</strong>
  {{loadTopicRequest.error.message}}
</div>


<div *ngIf="topic">
  <div *ngIf="topic.notes">
    <div>
      <h2>{{topic.title}} Non Observable</h2>
    </div>
    <app-input (submitted)="createNote($event)" [callActive]="loadTopicRequest.loading"></app-input>
    <div *ngFor="let note of topic.notes" class="card">
      <div class="card-body">
        {{note.text}}
      </div>
    </div>
  </div>
</div>
