<app-input (submitted)="createTask($event)"></app-input>


<div *ngIf="orderedTasks$ | requestTracker | async as request">
  <ng-template [ngIf]="request.loading">
    <div class="spinner">
      <i class="fas fa-atom fa-spin fa-4x"></i>
    </div>
  </ng-template>

  <ng-template [ngIf]="request.error">
    <div>ERROR! {{request.error.message}}</div>
  </ng-template>

  <ng-template [ngIf]="request.value">
    <div *ngFor="let task of request.value.withDeadline">
      <div class="space-10"></div>
      <div [ngClass]="getSeverity(task)" class="card">
        <div class="card-body">
          <div style="display: flex; justify-content: space-between">
            <h5 (click)="showDetail(task.id)" class="hyperlink">{{task.title}}</h5>
            <p>{{getDaysUntilNow(task.deadline)}} days left</p>
          </div>
          <h6 class="text-muted">Deadline: {{task.deadline | date}}</h6>
          <span (click)="delete(task.id)" class="hyperlink blue">Delete</span>
        </div>
      </div>
    </div>

    <hr>

    <div *ngFor="let task of request.value.withoudDeadline">
      <div class="space-10"></div>
      <div class="card no-deadline">
        <div class="card-body">
          <h5 (click)="showDetail(task.id)" class="hyperlink">{{task.title}}</h5>
          <span (click)="delete(task.id)" class="hyperlink blue">Delete</span>
        </div>
      </div>
    </div>
  </ng-template>
</div>
